{
  "extends": [
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "template-curly-spacing": "off",
    "arrow-parens": [
      "error",
      "always"
    ],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": [
      2
    ],
    "react/jsx-indent-props": [
      2
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/button-has-type": "off",
    "padded-blocks": [
      "error",
      {
        "classes": "always"
      }
    ],
    "class-methods-use-this": 0,
    "react/prefer-stateless-function": 0,
    "no-nested-ternary": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": [
          "label"
        ],
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        },
        "allowChildren": false
      }
    ],
    "no-param-reassign": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/prefer-default-export": "off",
    "max-len": [
      "error",
      {
        "code": 140
      }
    ]
  }
}
